[Unit]
Description=Cassandra's Forgejo
Wants=network-online.target
After=network-online.target

[Container]
Image=codeberg.org/forgejo/forgejo:9-rootless
AutoUpdate=registry
EnvironmentFile=/etc/creds/forgejo.env
Volume=sapphiccode_gitea:/var/lib/gitea
Network=sapphiccode.network

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
