[Unit]
Description=Woodpecker CI server
After=network-online.target sapphiccode-postgres.service
Wants=network-online.target sapphiccode-postgres.service

[Container]
Image=docker.io/woodpeckerci/woodpecker-server:v2.7.0-alpine
EnvironmentFile=/etc/creds/woodpecker-server.env
Network=sapphiccode.network

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
