[Unit]
Description=Cassandra's PufferPanel
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/pufferpanel/pufferpanel:latest
Volume=sapphiccode_pufferpanel:/var/lib/pufferpanel
Network=sapphiccode.network
PublishPort=25565-25575/tcp

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
