[Unit]
Description=Cassandra's Uptime Kuma
After=network-online.target

[Container]
Image=docker.io/louislam/uptime-kuma:1
AutoUpdate=registry
Volume=sapphiccode_uptimekuma:/app/data
Network=sapphiccode.network

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
