[Unit]
Description=Cassandra's PufferPanel
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/pufferpanel/pufferpanel:latest
Volume=sapphiccode_pufferpanel_config:/etc/pufferpanel
Volume=sapphiccode_pufferpanel_data:/var/lib/pufferpanel
Network=sapphiccode.network
PublishPort=5657:5657/tcp
PublishPort=25565-25575:25565-25575/tcp

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
