[Unit]
Description=Metrics database server
Wants=tailscaled.service
After=tailscaled.service

[Container]
Image=docker.io/victoriametrics/victoria-metrics:latest
Volume=sapphiccode_victoriametrics:/victoria-metrics-data:rw,U
PublishPort=100.67.28.115:8428:8428/tcp
Network=sapphiccode.network
Exec=-retentionPeriod=100y

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
